.topBarColumn {
  float: left;
  width: 33.33%;
  height: 100%;
}

#top-bar:after {
  content: "";
  display: table;
  clear: both;
}

#leftCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

#leftSide {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 12px;
  width: 950px;
  height: 100%;
}

#username {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#gameName {
  font-size: 2.5rem;
  font-weight: bold;
}

#tagLine {
  font-size: 1.8rem;
  opacity: 0.75;
}

#analyze-button {
  height: 50px;
}

#lastUpdatedBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#rightCol {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#rightSide {
  width: 500px;
}

#stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
