#top-bar {
  background-color: orange;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#username {
}

#analyze-button {
  height: 100px;
}
