#detailBoxContainer {
  border-radius: 6px;
  border: darkgray 4px solid;
  padding: 8px;
  font-family: "Roboto";
  width: 1370px;
}

#tableMain {
  width: 90vw;
  height: 100%;
  border-radius: 8px;
  border: rgba(255, 255, 255, 0.7) 2px solid;
  background-color: rgb(29, 29, 29);
  position: relative;
}

#tableMain .content {
  width: 100%;
  height: 100%;
  overflow: scroll;
  box-sizing: content-box;
  transform: translate(6px, 6px);
  color: transparent;
}

.content .MuiPaper-root {
  min-width: 100%;
  width: max-content;
  --table-width: 100%;
}

.content .MuiTableContainer-root {
  overflow: hidden;
}

#tableMain .content::-webkit-scrollbar-track {
  background-color: transparent;
  display: block !important;
}

#tableMain .content::-webkit-scrollbar {
  display: block !important;
}

#tableMain .content::-webkit-scrollbar-thumb {
  display: block !important;
}

.MuiTableContainer-root::-webkit-scrollbar-track {
  display: block !important;
}

.MuiTableContainer-root::-webkit-scrollbar {
  display: block !important;
}

.MuiTableContainer-root::-webkit-scrollbar-thumb {
  display: block !important;
}

#noDataFound {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#loadingBox {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loadingText {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(20%);
  scale: 4;
  overflow: hidden;
  height: 20%;
}
