#champDetailMain {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-areas: "picRow statsRow highlightsRow matchHistoryRow";
  gap: 25px;
}

#picRow {
  grid-area: picRow;
  display: grid;
  grid-template-rows: 1fr 250px 1fr;
  grid-template-areas: "champTitle" "champPic" "picStatsRow";
  border-right: 1px solid darkgray;
  margin-right: -12px;
  padding-right: 12px;
}

#champTitle {
  grid-area: champTitle;
}

#champPic {
  grid-area: champPic;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

#picStatsRow {
  grid-area: picStatsRow;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#wlRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#statsRow {
  grid-area: statsRow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid darkgray;
  margin-right: -12px;
  padding-right: 12px;
}

.champStatsTable {
  width: 100%;
}

.champStatsTable th:nth-child(1) {
  width: 6rem;
}

.champStatsTable th:nth-child(2),
.champStatsTable th:nth-child(3) {
  width: 55px;
}

.champStatsTable tr {
  height: 1rem;
}

.numberCell {
  text-align: right;
}

#highlightsRow {
  grid-area: highlightsRow;
  border-right: 1px solid darkgray;
  margin-right: -12px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.champDetailSubtitle {
  width: 100%;
  font-weight: bold;
}

#highlightsTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.25rem;
}

#highlightsTable th:nth-child(1) {
  width: 8rem;
}

#highlightsTable th:nth-child(2) {
  width: 5rem;
}

#highlightsTable th:nth-child(3) {
  width: 80px;
}

#highlightsTable tr td:nth-child(3) {
  display: flex;
}
#highlightsTable tr {
  padding: 2px;
}

.perMinuteLabelCell {
  display: flex;
  align-items: baseline;
}

.perMinute {
  font-size: 0.7rem;
}

#matchDateCell {
  width: 100%;
  padding-left: 3rem;
}

#matchHistoryRow {
  grid-area: matchHistoryRow;
}
