#profileMain {
  width: 100vw;
  height: 100vh;
  background-color: rgb(29, 29, 29);
  position: relative;
}

#profileMain .content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: content-box;
  color: transparent;
}

.content .MuiPaper-root {
  min-width: 100%;
  width: max-content;
}

#playerStatsContainer {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

#playerStatsCols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "winsCol killsCol highsCol teammatesCol";
  margin-top: -8px;
  font-size: 1.15rem;
  gap: 1.5rem;
}

#winRatesCol {
  grid-area: winsCol;
  border-right: 1px solid darkgray;
  margin-right: -0.75rem;
  padding-right: 0.75rem;
}

#killsCol {
  grid-area: killsCol;
  display: flex;
  flex-direction: column;
  border-right: 1px solid darkgray;
  margin-right: -0.75rem;
  padding-right: 0.75rem;
}

#highsCol {
  grid-area: highsCol;
  display: flex;
  flex-direction: column;
  border-right: 1px solid darkgray;
  margin-right: -0.75rem;
  padding-right: 0.75rem;
}

#teammatesCol {
  grid-area: teammatesCol;
  display: flex;
  flex-direction: column;
}

.baseTable {
  margin-bottom: 14px;
  border-collapse: separate;
  border-spacing: 0 0.25rem;
}

.tableTitle {
  font-weight: 1000;
  font-size: 1.2rem;
  margin-bottom: 4px;
}

#winRatesTable {
  width: 100%;
}

.classWinRatesTable th:nth-child(1) {
  width: 7.25rem;
  text-align: left;
}

.classWinRatesTable th:nth-child(2) {
  width: 2.8rem;
  text-align: right;
}

.classWinRatesTable th:nth-child(3),
.classWinRatesTable th:nth-child(4) {
  width: 5.5rem;
  text-align: right;
}

#killsTable th:nth-child(1) {
  width: 7.5rem;
  text-align: left;
}

.titleRow {
  transform: translateX(-2px);
  font-weight: 800;
}

.smallBreak {
  height: 4px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#highsTable {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  margin-top: -0.5rem;
  font-size: 1.1rem;
}

#highsTable th:nth-child(1) {
  width: 10rem;
  text-align: left;
}

.profileMatchDateCell {
  width: 3rem;
}

.profileMatchDateCell > #matchDateCell {
  padding-left: 0.2rem !important;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.profileHighChampIcon {
  width: 2rem;
  height: 2rem;
}

#teammateTable {
  font-size: 1.05rem;
  border-spacing: 0 0.5rem;
  width: 100%;
}

#teammateTable th:nth-child(2),
#teammateTable th:nth-child(3),
#teammateTable th:nth-child(4) {
  text-align: right;
}

#teammateTable th:nth-child(5) {
  text-align: right;
  width: 4rem;
}

.teammateTagLine {
  font-size: 0.75rem;
}

.teammateGameName {
  max-width: 8rem;
}

#noDataFound {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#loadingBox {
  width: 90vw;
  height: 100%;
  border-radius: 8px;
  border: rgba(255, 255, 255, 0.7) 2px solid;
  background-color: rgb(29, 29, 29);
  position: relative !important;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loadingText {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(20%);
  scale: 4;
  overflow: hidden;
  height: 20%;
}
